/*
================================================================================
*   CSS Base Template
*   Includes best practices and tricks
*   ----------------------------------------------------------------------------
*   26-09-2016
================================================================================

Table of Contents:

  0 GENERAL

  --

  1 HELPER CLASSES
    1.1 Development Helper Classes
    1.2 Alignment & Centering
    1.3 Margin & Padding

  --

  2 UI ELEMENTS
    2.1 Buttons
    2.2 Preloader
    2.3 Scroll Down
    2.4 Animated Headline

  --

  3 FONTS & LISTS

  --

  4 BOOTSTRAP ADJUSTMENTS

  --

  5 LAYOUT
    4.0   ...

  --

	6 HEADER

  --

	7 NAVIGATION
    7.1 Desktop Navigation
    7.2 Mobile Navigation

============================================================================= */


/* -------------------------------------------------------------------------- */
/*
/*  0 GENERAL
/*
/* -------------------------------------------------------------------------- */

* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.6em;
  color: #000;
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

/* remove border highlight */
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

/* crossbrowser placeholder styles */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

/* custom bootstrap container size */
/*@media (min-width: 1400px) {
    .container {
        width: 1400px !important;
    }
    body {
        overflow-x: hidden;
    }
}*/

.container100p {
    position: relative;
    color: #888;
    width: 100%;
}

.container100p>.container {
    padding-left: 0;
    padding-right: 0;
}

.row.be-table-row {
    display: table;
    width: 100%;
    margin-left: 0;
}

.be-table-row.fixed {
    table-layout: fixed;
}

[class*="col-"].be-table-cell {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

section.Project [class*="col-"].be-table-cell img {
    width: 100%;
}


/* no table space */
.notsp {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
}

/* no table space left */
.nosp-l { padding-left: 0 !important; margin-left: 0 !important; }

/* no table space right */
.nosp-r { padding-right: 0 !important; }


/* position relative */
.pos-r { position: relative; }



/* -------------------------------------------------------------------------- */
/*
/*  1 HELPER CLASSES
/*
/* -------------------------------------------------------------------------- */

  /*  1.1 Development Helper Classes
  /*--------------------------------------------------------------------------*/

    .layout-test [class^="col-"] {
        border: 1px dashed #00D9D9;
    }

    .layout-test [class^="row"] {
        border: 1px dashed #FF00FF;
    }


  /*  1.2 Alignment & Centering
  /*--------------------------------------------------------------------------*/


/* http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* this is evil */

.flex-valign-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.block {
    text-align: center;
    /* May want to do this if there is risk the container may be
        narrower than the element inside */
    white-space: nowrap;
}


/* The ghost, nudged to maintain perfect centering */

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

section.small-space-bot .container {
    padding-bottom: 60px !important;
    margin-bottom: 40px !important;
}


/*  1.2 Margin & Padding
/*--------------------------------------------------------------------------*/

/* margin top ------------------------------------------------------------- */
.m-t-10 { margin-top: 10px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-t-50 { margin-top: 50px !important; }
.m-t-60 { margin-top: 60px !important; }
.m-t-70 { margin-top: 70px !important; }
.m-t-80 { margin-top: 80px !important; }
.m-t-90 { margin-top: 90px !important; }
.m-t-100 { margin-top: 100px !important; }

/* margin right ----------------------------------------------------------- */
.m-r-10 { margin-right: 10px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-30 { margin-right: 30px !important; }
.m-r-40 { margin-right: 40px !important; }
.m-r-50 { margin-right: 50px !important; }
.m-r-60 { margin-right: 60px !important; }
.m-r-70 { margin-right: 70px !important; }
.m-r-80 { margin-right: 80px !important; }
.m-r-90 { margin-right: 90px !important; }
.m-r-100 { margin-right: 100px !important; }

/* margin bottom ---------------------------------------------------------- */
.m-b-0 { margin-bottom: 0 !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-b-40 { margin-bottom: 40px !important; }
.m-b-50 { margin-bottom: 50px !important; }
.m-b-60 { margin-bottom: 60px !important; }
.m-b-70 { margin-bottom: 70px !important; }
.m-b-80 { margin-bottom: 80px !important; }
.m-b-90 { margin-bottom: 90px !important; }
.m-b-100 { margin-bottom: 100px !important; }

/* margin left ------------------------------------------------------------ */
.m-l-0 { margin-left: 0 !important; }
.m-l-10 { margin-lef: 10px !important; }
.m-l-20 { margin-lef: 20px !important; }
.m-l-30 { margin-lef: 30px !important; }
.m-l-40 { margin-lef: 40px !important; }
.m-l-50 { margin-lef: 50px !important; }
.m-l-60 { margin-lef: 60px !important; }
.m-l-70 { margin-lef: 70px !important; }
.m-l-80 { margin-lef: 80px !important; }
.m-l-90 { margin-lef: 90px !important; }
.m-l-100 { margin-left: 100px !important; }

/* padding bottom --------------------------------------------------------- */
.p-b-10 { padding-bottom: 10px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-30 { padding-bottom: 30px; }
.p-b-40 { padding-bottom: 40px; }
.p-b-50 { padding-bottom: 50px; }
.p-b-60 { padding-bottom: 60px; }
.p-b-70 { padding-bottom: 70px; }
.p-b-80 { padding-bottom: 80px; }
.p-b-90 { padding-bottom: 90px; }
.p-b-100 { padding-bottom: 100px; }

.w-100-p {
    width: 100%;
}

.v-a-m {
    vertical-align: middle !important;
}

.hidden-element {
    opacity: 0;
}

.visible {
    opacity: 1;
}


/*
  class to tell viewport-check
  which element to grab for animation
  activate iOS 3D Acceleration
*/

.vc-animate {
  -webkit-perspective: 1000;
}

.container {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.call-to-action-job-appliance.push-right {
  float: right !important;
}

.push-left { float: left !important; }
.push-right { float: right !important; }

.float-left { float: left !important; }
.float-right { float: right !important; }

/*  Momentum Scrolling on iOS Overflow Elements
/*--------------------------------------------------------------------------*/
/* add this class/property to the container */
.momentum-scrolling {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}


/*  2 UI ELEMENTS
/* -------------------------------------------------------------------------- */


  /*  2.1 Buttons
  /*--------------------------------------------------------------------------*/

  button[class^="call-to-action-"] {}

  [class^="call-to-action-"] {
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      padding: 20px 45px;
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.2em;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
  }

  [class^="call-to-action-"]:hover,
  [class^="call-to-action-"]:active,
  [class^="call-to-action-"]:focus {
      text-decoration: none;
      text-decoration: none;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
  }


/* transparent background, white color */

.call-to-action-teaser,
.call-to-action-teaser:focus {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}


/* white background, blue color */

.call-to-action-teaser:hover {
    color: #4CA5FC;
    border: 2px solid #fff;
    background-color: #fff;
}

.call-to-action-blue-outline {
    color: #4BA4FB;
    background-color: #fff;
    border: 2px solid #4BA4FB;
}

.call-to-action-blue-outline:hover, .call-to-action-blue-outline:active, .call-to-action-blue-outline:focus {
    color: #fff;
    background-color: #4BA4FB;
    border: 2px solid #4BA4FB;
}

.call-to-action-blue, .call-to-action-blue:focus {
    color: #fff;
    border: 2px solid #4BA4FB;
    background-color: #4BA4FB;
}

.call-to-action-blue:hover {
    color: #fff;
    border: 2px solid #25527D;
    background-color: #25527D;
}

.call-to-action-coming-soon, .call-to-action-coming-soon:hover, .call-to-action-coming-soon:focus {
    color: #eee;
    background-color: #fff;
    border: 2px solid #eee;
}

.read-more span.glyphicon, .read-less span.glyphicon {
    color: #4BA4FB;
    font-size: 16px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.read-more:hover:after, .read-less:hover:after {
    width: 100%;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.textlink {
    color: #4BA4FB;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.textlink:hover, .textlink:focus {
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}


  /*  2.2 Preloader
  /*--------------------------------------------------------------------------*/

  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #4BA4FB;
      z-index: 99999;
      height: 100%;
      display: flex;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px auto 0 -35px;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    /*  -webkit-animation: rotate 2.0s infinite linear;
      animation: rotate 2.0s infinite linear;*/
  }


  /*  2.3 Scroll Down
  /*--------------------------------------------------------------------------*/

.scroll-down {
  font-size: 20px;
  line-height: 1.7em;
  position: relative;
  text-align: center;
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 100px;
  border: 2px solid #fff;
  transform: translateX(-50%);
  background-color: transparent;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.scroll-down:hover {
  background-color: #fff;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.scroll-down:hover .glyphicon {
  color: #4BA4FB !important;
}

.scroll-down span.hint {
  position: absolute;
  top: -30px;
  left: -72px;
  width: 170px;
  font-size: 12px;
  color: #fff;
}

.scroll-down .glyphicon {
    color: #fff !important;
    font-size: 12px;
    top: -4px;
    left: 1px;
}

.scroll-down span {
    font-size: 20px;
    line-height: 1.2em;
}

.scroll-down i {
    width: 27px;
    height: 16px;
    margin: 18px 0 0 2px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}



/* -------------------------------------------------------------------------- */
/*
/*  3 FONTS & LISTS
/*
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*
/*  4 BOOTSTRAP ADJUSTMENTS
/*
/* -------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------- */
/*
/*  5 LAYOUT
/*
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*
/*  6 HEADER
/*
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*
/*  7 NAVIGATION
/*
/* -------------------------------------------------------------------------- */



  /*  7.1 Desktop Navigation
  /*--------------------------------------------------------------------------*/



  /*  7.2 Mobile Navigation
  /*--------------------------------------------------------------------------*/
