/*
================================================================================
*   v1 herbapure facebook app
*   ----------------------------------------------------------------------------
*   11-11-2016
================================================================================

	Table of Contents:

  0 GENERAL

/* ========================================================================== */


/*  max-width: 767px
--------------------------------------------------------------------------------
*/ @media (max-width: 767px) {

  .row-eq-height {
    display: block;
    max-height: none;
  }
  section#image {
    width: 100%;
    height: 280px;
  }
  section#content {
    /* reset center positioning */
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: translate(0);
    /* --- */
    text-align: center;
    padding: 20px;
    border: 1px dashed deeppink;
  }
  .logo {
    display: none;
  }
  .produkt {
    height: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  .produkt:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .additional-space-top h1 {
    margin-top: 20px;
  }



} /* ------------------------------------------------------------------------ */




/*  min-width: 768px
--------------------------------------------------------------------------------
*/ @media (min-width: 768px) {

  .row-eq-height {
    /*max-height: 500px;*/
  }

  .float-right-sm { float: right; }

} /* ------------------------------------------------------------------------ */



/*  min-width: 768px
--------------------------------------------------------------------------------
*/ @media (max-width: 480px) {

  h1 {
    font-size: 38px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .label-text {
    font-size: 12px !important;
  }
  .text-align-right,
  .text-align-left {
    text-align: center;
  }
  .col-xxs-12 {
    width: 100% !important;
  }
  label[for="gewicht"], label[for="alter"],
  label[for="weniger"], label[for="mehr"]
  {
    display: block;
  }


} /* ------------------------------------------------------------------------ */
