/*
================================================================================
*   v1 herbapure facebook app
*   ----------------------------------------------------------------------------
*   17-11-2016
================================================================================

  Table of Contents:

  #1 BUTTONS
  #2 FONTS & LISTS
  #3 LAYOUT
  #4 FORMS
  #5 PRODUKTE
  #6 ERROR MESSAGES
  #7 BG-OVERLAYS

/* -------------------------------------------------------------------------- */

/* #1 BUTTONS
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
a.button, a.shop {
  color: #fff;
  font-size: 24px;
  padding: 5px 35px;
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
  border-radius: 2px;
}
a.button {
  margin-bottom: 40px
}
a.shop {
  font-size: 18px;
  padding: 4px 26px;
}
a.button:hover, a.shop:hover, a.shop:focus {
  cursor: pointer;
  background-color: #eceaf1;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,1);
}
.center-link {
  text-align: center;
}

/* #2 FONTS & LISTS
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'angeline_vintaangelinevintage';
  src:
    url('../fonts/angeline_vintage_demo-webfont.woff2') format('woff2'),
    url('../fonts/angeline_vintage_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
strong {
  font-weight: 600;
  font-size: inherit;
}
h1 {
  font-size: 48px !important;
  font-family: 'angeline_vintaangelinevintage' !important;
  text-align: center !important;
  margin-bottom: 0 !important;
}
h2 {
  font-size: 22px !important;
  text-align: center !important;
  font-weight: lighter !important;
  margin-top: 0 !important;
  margin-bottom: 30px !important;
}
h3 {
  font-size: 18px !important;
  font-weight: 700 !important;
}
h4 {
  text-align: center;
  font-size: 16px !important;
}
label.text {
  font-weight: lighter;
  font-size: 16px;
  font-weight: 500 !important;
  margin-right: 20px;
}
label.text:last-child {
  margin-right: 0;
  line-height: 1.0em;
}
label.label-text {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-right: 10px;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
ul li {
  list-style: none;
}


/* #3 LAYOUT
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container-fluid {
  height: 100%;
  z-index: 1;
}
section .container {
  max-width: 100%;
}
/* http://getbootstrap.com.vn/examples/equal-height-columns/ */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  min-height: 380px;
}
section.show-part {
  display: block;
}
section.hide-part {
  display: none;
}
.align-content {
  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin-top: 50vh;
}
.logo {
  width: 130px;
  height: 157px;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  background: transparent url(img/herbapure-logo.png) no-repeat 0 0;
  transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
}
.additional-space-top h1 {
  margin-top: 20px;
}

/* #4 FORMS
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.form-group {
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.border-bottom-none {
  border-bottom: none !important;
}
.no-border-bot {
  border-bottom: none;
}
fieldset ul li {
  float: left;
}
input[type="text"] {
  width: 100px;
  border: none;
  padding: 0 15px;
  background-color: rgba(0,0,0,0.25);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  text-align: center;
  font-size: 18px !important;
  font-style: bold;
}
::-ms-input-placeholder { /* IE 10+ */
  color: red;
  text-align: center;
  font-size: 14px !important;
  font-style: bold !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
input[type="text"] {
  width: 100px;
  text-align: center;
  font-size: 16px;
}
input[type="text"][name="alter"] {
  margin-right: 20px;
}

/* #5 PRODUKTE
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.produkt {
  text-align: center !important;
  margin-bottom: 30px;
  height: 420px;
}
.produkt p {
  font-weight: 500;
  line-height: 1.2em;
  font-size: 14px;
  text-align: center;
  margin-bottom: 18px;
}
.produkt img {
  padding: 6px;
  border: 1px solid #ccc;
}

/* #6 ERROR MESSAGES
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
span.error {
  display: none;
  position: relative;
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 210px;
  padding: 4px 0;
  margin: 0 auto;
  background-color: rgba(235, 120, 140, 1);
}
span.error.error-visible {
  display: block;
}
span.error:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -4px;
  left: 50%;
  margin-left: -10px;
  width: 12px;
  height: 12px;
  background-color: rgba(235, 120, 140, 1);
  transform: rotate(45deg);
}
span.no-flag:after {
  display: none;
}

/* #7 BG-OVERLAYS
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.overlay-img, .overlay-bg {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-attachement: fixed;
}
.overlay-bg {
  background-color: rgba(255,255,255,0.80);
}
.hp-bg-1 {
  background: rgba(255,255,255,0.5) url(../images/hp-bg-1.jpg) no-repeat center 0;
  background-size: cover;
}
.hp-bg-2 {
  background: rgba(255,255,255,0.5) url(../images/hp-bg-2.jpg) no-repeat center 0;
  background-size: cover;
}
.hp-bg-3 {
  background: rgba(255,255,255,0.5) url(../images/hp-bg-3.jpg) no-repeat center 0;
  background-size: cover;
}
.hp-bg-4 {
  background: rgba(255,255,255,0.5) url(../images/hp-bg-4.jpg) no-repeat center 0;
  background-size: cover;
}
.hp-bg-5 {
  background: rgba(255,255,255,0.5) url(../images/hp-bg-5.jpg) no-repeat center 0;
  background-size: cover;
}
